//- layout.jade
doctype html
html(lang="en")
  head
    block title
      title Watson Spoken Healthcare QA

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")
    link(rel="icon", href="/images/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="/css/watson-bootstrap-dark.css")
    link(rel="stylesheet", href="/css/browser-compatibility.css")
    link(rel="stylesheet", href="/css/style.css")
    block extrahead
  body
    block body-content
      div.container
        div.row
          div.col-lg-12
            div.row.top-nav
              div.col-lg-12
            div.row.header(style='padding-bottom:0px;')
              div.avatar.img-container.col-lg-2.col-md-2.visible-lg.visible-md
                img(src='/images/watson.gif')
              div.col-lg-10.col-md-10
                h2 CogAbility Technology Demo
                p CogAbility is a next-generation cognitive computing platform powered by IBM Watson - first made famous by beating Jeopardy champions in 2011.
                  |  The CogAbility platform can be customized to meet a wide range of needs in whole new ways and revolutionize the way people engage with computing systems. 
                p In this technology demonstration, CogAbility accepts simple health questions posed in natural language by the user and then provides the answer along with the confidence level Watson has assigned to that answer.
                  | CogAbility’s Speech-To-Text feature transcribes spoken language to text with low latency, and then uses the Text-To-Speech function to synthesize natural sounding speech from the answer text.
                  | Note: In this technology demonstration, CogAbility accepts simple health questions posed in natural language by the user and then provides the answer along with the confidence level Watson has assigned to that answer.  
      div.container
        block row-content
      div.container
        div.header.row
          div.col-lg-12
            h3 Disclaimer
            p CogAbility powered by Watson is incredibly powerful, but this simple technology demonstration using the 
              | sample public healthcare
              |  data set, which is only trained to answer 
              | specific kinds of questions
              | . Check this out to see what a properly trained CogAbility instance can do for you. This demo requires getUserMedia 
              | for speech recognition and HTML5 audio for playing sounds. Parts of this demo may
              | not work if your browser does not support these features.
    div.container.footer
      div.row.text-center(style='margin:10px 0px 15px 0px;')
        a(href="/tos") Terms of Use
        |  | 
        a(href="http://www.ibm.com/privacy/us/en/") Privacy Policy
    script(type='text/javascript', src="/js/css_browser_selector.js")
    script(type='text/javascript', src="/js/browser-detector.js")
    script(type='text/javascript', src="/js/jquery-1.11.1.min.js")
    script(type='text/javascript', src='/js/speech-recognizer.js')
    script(type='text/javascript', src='/js/socket.io.js')
    script(type='text/javascript', src="/js/demo.js")
    script(type='text/javascript', src="/js/speech.js")